.info-block {
    border-bottom: 1px solid grey;
}

.add-comment-form-block {
    margin-top: 50px;
}

.comments-block {
    margin-top: 50px;
}

.comment-item {
    border: 1px solid darkorange;
    padding: 10px;
    margin-bottom: 10px;
}